* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sold-tvs {
    margin-top: 2rem;
    font-size: 2rem;
    color: forestgreen;
}

#bought-tvs {
    margin-top: 2rem;
    font-size: 2rem;
    color: steelblue;
}

#need-to-sell {
    margin-top: 2rem;
    font-size: 2rem;
    color: darkred;
}