* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sold-tvs {
    margin-top: 2rem;
    font-size: 2rem;
    color: forestgreen;
}

#bought-tvs {
    margin-top: 2rem;
    font-size: 2rem;
    color: steelblue;
}

#need-to-sell {
    margin-top: 2rem;
    font-size: 2rem;
    color: darkred;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: lightblue;
    padding: 2rem 1rem;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#sizes {
    font-size: 1.5rem;
}